footer{
    background-color:$grisClaro;
    h3{
        margin-top: 20px;
        font-size: $hTres;
        color: black;
        
    }
    p{
        font-size: 1.2em;
        color: #656565;
    }
    .lineDiv{
        border-left: 3px solid rgb(0, 0, 0);
        border-right: 3px solid rgb(0, 0, 0);
    }
    
}
